extends layout

block content
  body.container.bg-danger
    header.page-header
      h1.text-danger
        span=error.status
        | : 
        =message
    main(role='main')
      p.lead=message
      pre=error.stack
