body {
  font-family: "Open Sans",Meiryo,sans-serif;
}

code {
  font-family: Menlo,Monaco,Consolas,"Courier New",Meiryo,monospace;
}

.page-footer {
  margin: 20px 0 40px;
  padding-top: 9px;
  border-top: 1px solid rgb(238, 238, 238);
}

.alert > h1, .alert > .h1, .alert > h2, .alert > .h2, .alert > h3, .alert > .h3 {
  margin-top: 0;
}

.alert .lead span {
  font-family: Menlo,Monaco,Consolas,"Courier New",Meiryo,monospace;
}

.hljs {
  padding: 0;
}

h1.text-danger span {
  font-size: 144%;
}
